body {
    margin: 0;
    background: #1F2937;
    font-family: 'Karla', sans-serif;
}

h1 {
    margin: 0;
    color: #ffffff
}

p {
    color: #ffffff;
    margin-top: 5px;
}

#first {
    color: #ffffff
}

#second {
    color: #4ADF86;
}

#header-text {
    padding-left: 10%;
    padding-top: 30px;
}

button {
    background: #10B981;
    border: none;
    border-radius: 3px;
    Padding: 5px 10px;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

#btn {
    padding-bottom: 30px;
    border-bottom: 1px solid #2F3E53;
}

.passwords {
    background: #273549;
    border-radius: 6px;
    margin-top: 30px;
    height: 25px;
    width: 150px;
    margin-right: 40px;
}