body {
    margin: 0;
    background: #1F2937;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
    color: #ffffff
}

h3 {
    color: #ffffff;
    margin-top: 5px;
}

#first {
    color: #ffffff
}

span {
    color: #4ADF86;
}

#header-text {
    padding-top: 15vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    background: #10B981;
    border: none;
    border-radius: 3px;
    Padding: 12px 25px;
    color: #ffffff;
}

button:hover {
    cursor: pointer;
}

#btn {
    padding-bottom: 30px;
    border-bottom: 1px solid #2F3E53;
}

.passwords {
    background: #273549;
    border-radius: 6px;
    height: 40px;
    width: 150px;
    margin: 25px;
    text-align: center;
}

#passwords {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    height: 55vh;
}